daemon hostconfig
   exec /home/admin/config/venv/bin/python /home/admin/config/hostconfig/serve.py
   no shutdown
!
dhcp server
{%- for pool in dhcp_pools | dhcp_sort %}
   subnet {{ pool['network'] }}
      range {{ pool['address'] }} {{ pool['address'] }}
{{ "   !" if not loop.last }}
{%- endfor %}
!
errdisable recovery cause xcvr-unsupported
!
load-interval default 5
!
transceiver qsfp default-mode 4x10G
!
interface defaults
   mtu 9216
!
service routing protocols model multi-agent
!
logging level BGP informational
logging level VXLAN informational
!
hostname p4-sw1
ip name-server vrf default 1.1.1.1
!
ntp server ntp1.funet.fi iburst
ntp server ntp2.funet.fi iburst
!
snmp-server community public ro
!
spanning-tree mode mstp
!
service unsupported-transceiver {{ unlock_code }}
!
aaa authorization exec default local
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 {{ admin_password }}
!
{%- for vlan_id, vlan in vlans.items() %}
vlan {{ vlan_id }}
   name {{ vlan['name'] }}
!
{%- endfor %}
{%- for lagg_id, lagg in laggs.items() %}
interface Port-Channel{{lagg_id}}
   description {{ lagg['description'] }}
 {%- if lagg['vlans'] | default(False) %}
   switchport trunk allowed vlan {{ lagg['vlans'] }}
 {%- endif %}
   switchport mode trunk
!
{%- endfor %}
interface Recirc-Channel1
   no switchport
   switchport recirculation features vxlan
!
{%- for intf_name, intf in interfaces | if_filter | if_sort %}
interface {{ intf_name }}
 {%- if not intf['shutdown'] | default(False) %}

 {%- if intf['description'] | default(False) %}
   description {{ intf['description'] }}
 {%- endif %}

 {%- if intf['address'] | default(False) %}
   no switchport
   ip address {{ intf['address'] }}
 {%- endif %}

 {%- if intf['vlan'] | default(False) %}
   switchport access vlan {{ intf['vlan'] }}
 {%- endif %}

 {%- if intf['vlans'] | default(False) %}
   switchport trunk allowed vlan {{ intf['vlans'] }}
   switchport mode trunk
 {%- endif %}

 {%- if intf['dhcp'] | default(False) %}
   dhcp server ipv4
 {%- endif %}

 {%- if intf['lagg'] | default(False) %}
   switchport mode trunk
   channel-group {{ intf['lagg'] }} mode active
 {%- endif %}

 {%- if intf['recirc'] | default(False) %}
   traffic-loopback source system device mac
   no switchport
   channel-group recirculation 1
 {%- endif %}

 {%- if intf['lacp_timer'] | default(False) %}
   lacp timer {{ intf['lacp_timer'] }}
 {%- endif %}

 {%- else %}
 {%- endif %}
!
{%- endfor %}
interface Loopback0
   ip address 10.4.3.100/32
!
interface Management1
   ip address 10.4.0.7/24
!
interface Vxlan1
   vxlan source-interface Loopback0
   vxlan udp-port 4789
{%- for vlan_id, vlan in vlans.items() %}
   vxlan vlan {{ vlan_id }} vni {{ vlan_id }}
{%- endfor %}
   vxlan learn-restrict any
!
ip virtual-router mac-address 00:00:11:11:22:22
!
ip routing
!
ip route 0.0.0.0/0 10.4.0.1
!
router bgp 65400
   maximum-paths 4 ecmp 4
   neighbor overlay peer group
   neighbor overlay next-hop-unchanged
   neighbor overlay update-source Loopback0
   neighbor overlay ebgp-multihop 3
   neighbor overlay send-community extended
   neighbor overlay maximum-routes 12000
   neighbor underlay peer group
   neighbor underlay next-hop-self
   neighbor underlay ebgp-multihop 3
   neighbor underlay route-reflector-client
   neighbor underlay send-community extended
   neighbor underlay maximum-routes 12000
   {%- for peer_id, peer_params in evpn_peers.items() %}
   neighbor {{ peer_params['overlay'] }} peer group overlay
   neighbor {{ peer_params['overlay'] }} remote-as {{ peer_params['asn'] }}
   {%- endfor %}
   
   {%- for params in underlay_peers %}
   neighbor {{ params['address'] }} peer group underlay
   neighbor {{ params['address'] }} remote-as {{ params['asn'] }}
   {%- endfor %}
   !
   {%- for vlan_id, vlan in vlans.items() | sort(attribute='1.id_s')%}
   vlan {{ vlan_id }}
      rd auto
      route-target both 65400:1
      redistribute learned
   !
   {%- endfor %}
   address-family evpn
      neighbor overlay activate
      no neighbor underlay activate
   !
   address-family ipv4
      no neighbor overlay activate
      neighbor underlay activate
      network 10.4.3.100/32
!
management ssh
   authentication mode password
!
end
